.slider-range-container{
    width: 450px;
    margin-top: 30px;
    margin-left: 30px;
}
.vertical-slider{
    margin-top: 30px;
    margin-left: 30px;
    width: 150px;
    height: 450px;
}
/* Стили плагина */

.slider-range-content {
    position: relative;
    border-radius: 4px;
    background-color: whitesmoke;
}

.slider-range-min{
    position: absolute;
    border-radius: 4px;
}
.slider-range-handle{
    position: absolute;
    border-radius: 50%;
    background-color: blueviolet;
    z-index: 1;
}