.container{
    width: 100%;
}
.slider-range-container{
    width: 450px;
    margin-top: 50px;
    margin-left: 30px;
}
.slider-range{
    width: 450px;
    margin-top: 50px;
    margin-left: 30px;
}
.vertical-slider{
    margin-top: 30px;
    margin-left: 30px;
    width: 150px;
    height: 450px;
}
/* Стили плагина */

.slider-range-content {
    position: relative;
    border-radius: 4px;
    background-color: #eef0f6;
}

.slider-color-range{
    position: absolute;
    border-radius: 4px;
}
.slider-range-handle{
    position: absolute;
    border-radius: 50%;
    background-color: #37DA7E;
    z-index: 1;
}
.slider-range-handle:active{
    background-color:#458645;
}
.indicator{
    display: inline-block;
    position: absolute;
    text-align: center;
    top: -45px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: coral;
    padding: 8px;
}